<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hms.mapper.CashierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hms.pojo.Cashier">
        <id column="cashier" property="cashier" />
        <result column="reportId" property="reportId" />
        <result column="durgname" property="durgname" />
        <result column="durgnum" property="durgnum" />
        <result column="repiceprice" property="repiceprice" />
        <result column="repicetotal" property="repicetotal" />
        <result column="state" property="state" />
        <result column="ctime" property="ctime" />
        <result column="ostate" property="ostate" />
        <result column="jie" property="jie" />
        <result column="mstate" property="mstate" />
    </resultMap>

</mapper>
