<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hms.mapper.HuishouMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hms.pojo.Huishou">
        <id column="huishouid" property="huishouid" />
        <result column="huishouname" property="huishouname" />
        <result column="huishounumber" property="huishounumber" />
        <result column="huishoupihao" property="huishoupihao" />
        <result column="jbr" property="jbr" />
        <result column="beizhu" property="beizhu" />
    </resultMap>

</mapper>
