<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hms.mapper.PharmacyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hms.pojo.Pharmacy">
        <id column="pharmacyId" property="pharmacyId" />
        <result column="pharmacyName" property="pharmacyName" />
        <result column="drugstoreId" property="drugstoreId" />
        <result column="skullId" property="skullId" />
        <result column="warehouseId" property="warehouseId" />
        <result column="unit" property="unit" />
        <result column="sellingPrice" property="sellingPrice" />
        <result column="area" property="area" />
        <result column="type" property="type" />
        <result column="produceDate" property="produceDate" />
        <result column="validDate" property="validDate" />
        <result column="drugstorenum" property="drugstorenum" />
        <result column="skullbatch" property="skullbatch" />
    </resultMap>

</mapper>
